.wrapper {
    width: 100%;
    max-width: 960px;
    margin: calc(var(--header-height) + var(--h1-size)) auto 80px;
    padding: 0 var(--page-gutter);
    box-sizing: border-box;

    &.narrow {
        max-width: 660px;
    }
}
