.Content {
    & h1,
    & h2 {
        margin-top: 0;
        margin-bottom: var(--h1-mb);
    }

    & section {
        margin-bottom: 45px;
    }

    & p {
        font-size: 1rem;
        line-height: var(--copy-line-height);

        &:first-of-type {
            margin-top: 0;
        }
    }

    & li {
        margin: 0.5em;
        line-height: var(--copy-line-height);

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    & a {
        color: var(--nh-accent-color);

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
