.Menu-enter {
    opacity: 0;
    transform: translateX(100%);
}
.Menu-enter-active {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transform: translateX(0);
}
.Menu-exit {
    opacity: 1;
}
.Menu-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
}

.MenuBackdrop-enter {
    opacity: 0;
}
.MenuBackdrop-enter-active {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.MenuBackdrop-exit {
    opacity: 1;
}
.MenuBackdrop-exit-active {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
