.form {
    --icon-width: 30px;
    --icon-right: 10px;
    width: 100%;
}

.form > form {
    position: relative;
}

@media (max-width: 480px) {
    .form {
        width: 100%;
    }
}

.input {
    --padding: 20px;
    width: 100%;
    height: 40px;
    padding: 0 calc(var(--icon-width) + var(--icon-right)) 0 var(--padding);
    border-radius: 20px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 2px solid var(--nh-gray);
    transition: all 0.3s ease-in-out;
}

.input:focus {
    border-color: var(--nh-blue);
    outline: none;
}

.searchButton {
    position: absolute;
    width: var(--icon-width);
    right: var(--icon-right);
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

@media (min-width: 768px) {
    .searchButton {
        display: block;
    }
}
