.shareButton {
    top: 114px;
    right: 10px;
    width: 34px;
    height: 34px;
    z-index: 1000;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #fafafa;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px;
}

.shareButton img {
    width: 80%;
}
