.about {
    width: 100%;
    max-width: 960px;
    margin: 150px auto 80px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .about {
        width: 100%;
        padding: 0 20px;
    }
}

.about section {
    margin-bottom: 45px;
}

.about h2 {
    font-size: 24px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
}

.about a {
    display: block;
    color: #000;
    margin-bottom: 15px;
}
