.contentPage {
    width: 100%;
    max-width: 960px;
    margin: 150px auto 80px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .contentPage {
        width: 100%;
        padding: 0 20px;
    }
}

.contentPage section {
    margin-bottom: 45px;
}

.contentPage h2 {
    font-size: 24px;
}

.contentPage p {
    font-size: 16px;
    line-height: 1.6;
}

.contentPage a {
    color: var(--nh-accent-color);
}

.contentPage a:hover,
.contentPage a:focus {
    text-decoration: none;
}
