.data-import {
    width: 100%;
    max-width: 960px;
    margin: 150px auto 80px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .data-import {
        width: 100%;
        padding: 0 20px;
    }
}

.data-import section {
    margin-bottom: 45px;
}

.data-import h2 {
    font-size: 24px;
}

.data-import p {
    font-size: 16px;
    line-height: 1.6;
}

.data-import a {
    color: #000;
    margin-bottom: 15px;
}
