.hotel {
  position: relative;
  top: 100px;
  padding: 20px;
}

.hotelWrapper {
  display: flex;
}

.info,
.map {
  width: 50%;
}

.map {
  height: calc(100vh - 200px);
  z-index: -1;
}

@media (max-width: 768px) {
  .hotelWrapper {
    flex-direction: column;
  }

  .info {
    width: 100%;
    margin-bottom: 20px;
  }

  .map {
    width: 100%;
    height: 240px;
  }
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-top: 30px;
  padding: 10px;
  border: 2px solid #333;
  box-sizing: border-box;
}

.hotelRow {
  display: flex;
  align-items: center;
}

.hotelRow p,
.hotelRow a {
  margin-left: 10px;
}

.hotelRow span {
  font-weight: 700;
}

.hotelRow span.title {
  font-weight: 400;
  font-style: italic;
}

.hotelRow a {
  /*text-decoration: none;*/
  color: #000;
}
