.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large {
  width: 30px;
  height: 30px;
}

.small {
  width: 20px;
  height: 20px;
  min-width: 20px
}

.iconWrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}