.list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 20px;
    background: var(--nh-background-color);
    z-index: 1001;
    box-sizing: border-box;
}

.listWrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.listContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollPlane {
    flex: 1;
    overflow-y: auto;
}

.closeContainer {
    display: flex;
    justify-content: end;
    flex-grow: 0;
}

.closeButton {
    top: 20px;
    right: 15px;
    cursor: pointer;
}
