.list {
    height: calc(100vh - var(--header-height));
    padding: 20px;
    background: var(--nh-background-color);
    box-sizing: border-box;
    transform: translate(0);
    will-change: opacity;
}

.listWrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.listContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollPlane {
    flex: 1;
    overflow-y: auto;
}

.closeContainer {
    display: flex;
    justify-content: end;
    flex-grow: 0;
}

.closeButton {
    top: 20px;
    right: 15px;
    cursor: pointer;
}
