.controlButton {
    right: 10px;
    width: 34px;
    height: 34px;
    z-index: 1000;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #fafafa;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.filterOpen {
    visibility: visible !important;
}

.filterOpenButton {
    top: 80px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.filterRowWrapper {
    visibility: hidden;
    padding-top: 2px;
    margin: 10px;
    right: 40px;
    top: 0px;
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: start;
}

.filterRow {
    background: #fafafa;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filterButton {
    color: #fafafa;
    background-color: #aaa;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: filter 0.1s ease;
    margin: 3px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterButton:hover {
    filter: brightness(90%);
}

.selectedButton {
    background-color: var(--nh-accent-color);
}

.locateButton {
    top: 12px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.listButton {
    top: 46px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
