.controlButton {
    width: 34px;
    height: 34px;

    border: 2px solid var(--nh-gray);
    border-radius: 4px;
    background: #fafafa;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.button {
    border: none;
    outline: none;
    margin: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 0;
}

.locateButton {
    padding: 4px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.listButton {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
