.controlButton {
    right: 10px;
    width: 34px;
    height: 34px;
    z-index: 1000;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background: #fafafa;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    margin: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    padding: 0;
}

.locateButton {
    top: 12px;
    padding: 4px;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.listButton {
    top: 46px;
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
