.mapWrapper {
  position: relative;
  top: 160px;
  z-index: 1;
  height: calc(100vh - 150px);
}



.listButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40px;
  right: 10px;
  width: 30px;
  height: 30px;
  z-index: 1000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
}

.clusterMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background: #009933;
  border-radius: 100%;
}