.map {
  position: fixed;
  top: 160px;
  width: 100%;
  height: calc(100vh - 160px);
}

.mapWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.clusterMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background: #009933;
  border-radius: 100%;
}
