.form {
  width: 60%;
}

@media (max-width: 480px) {
  .form {
    width: 100%;
  }
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #333;
}