.button {
    position: relative;
    display: inline-block;
    padding: 10px 16px;
    color: var(--nh-background-color);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--nh-accent-color);
    border-radius: 4px;
    box-sizing: border-box;
    transition: background-color 0.2s;
    text-decoration: none;
    appearance: none;
    border: 0;
    cursor: pointer;

    & .buttonLoader {
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}

.button[disabled] {
    cursor: not-allowed;
}

.button.loading {
    color: rgba(0, 0, 0, 0);

    & .buttonLoader {
        display: inline-block;
    }
}

.button.fullWidth {
    display: block;
    width: 100%;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus {
    background-color: var(--nh-accent-color-darker);
}
