.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--nh-text-color);
    color: var(--nh-background-color);
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 1000;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.3);
}
